/*
  Edited     : Apr 22, 2016
  License    : MPL2
  Authors    : Walter Loso and Bobby Richter
*/

@viewport {
  width: device-width;
}
 
@-ms-viewport {
  width: device-width;
}
 
/*--------------Body & Structure---------------------*/

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  color: white;
  font-size: 12pt;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  background: black;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/*-----------------Links & Images-----------------*/

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.button {
  border: 1px solid #fff;
  font-weight: 400;
  text-transform: uppercase;
  padding: 12px 20px;
  margin: 10px 0;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  transition: background-color .15s, color .15s;
  cursor: pointer;
}

a.read-more {
  text-transform: uppercase;
  font-style: italic;
  border: 1px solid white;
  padding: 0 5px;
  margin: 0 0;
  position: relative;
  transition: background-color .15s, color .15s;
}

a.read-more:hover {
  text-decoration: none;
}

/*--------------Special Effects----------------------*/
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.fadein {
  opacity: 0;
  animation: fadeIn 1s ease-in;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

#title .title {
  animation-delay: 0.3s;
}

#title .subtitle {
  animation-delay: 0.5s;
}

#title .line {
  animation-delay: 0.4s; 
}

/*--------------Mozilla Logo----------------------*/

.mozilla-logo {
  display: block;
  position: absolute;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  display: inline-block;
  background: url(../images/mozilla.svg) no-repeat;
  background-size: contain;
  width: 100px;
  height: 26px;
  opacity: 0.5;
  transition: opacity .15s;
  z-index: 10;
  right: 1em;
  top: 1em;
}

.mozilla-logo:hover {
  opacity: .8;
}

/*--------------Sections----------------------*/

section p {
  display: block;
  line-height: 1.5em;
}

section {
  padding: 2em 0;
  background: #576d8d;
  color: white;
}

section.description-text p {
  line-height: 2em;
}

section.description-text {
  background: #f4eee6;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: 1.25em;
}

section .content {
  width: 700px;
  margin: 0 auto;
}

section .content:after {
  display: block;
  content: ' ';
  clear: both;
}

section .content ul {
  list-style: none;
  padding-left: 0;
}

section .content ul li *:nth-child(1){
  margin-left: .5em;
}

section .content .left {
  float: left;
}

section .content .right {
  float: right;
}

section .half {
  width: 50%;
}

section .content img.full {
  width: 100%;
}

section .content img.frame {
  padding: 2em;
  box-sizing: border-box;
}

/*--------------Parallax----------------------*/
.parallax-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 600px;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 1px;
}

.parallax-layer {
  transform-origin-x: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.parallax-spacer {
  padding: 100vh 0;
}

.parallax-layer .back {
  transform: translateZ(-100px);
}

/*--------------Title Section----------------------*/

#title {
  height: 600px;
  padding: 0;
  position: relative;
  overflow: hidden;
  background: transparent;
}

#title .content {
  font-weight: 100;
  text-align: center;
  font-size: 1.2em;
}

#title {
  color: white;
}

#title .parallax-container {
  z-index: 0;
}

#title .flex-container {
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2) 0%, rgba(0, 0, 0, .7) 100%);
}

#title h1, #title h2 {
  text-align: center;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 200;
  display: block;
}

#title .line {
  height: 1px;
  margin: 2em 100px;
  width: 300px;
  background: white;
  margin-top: 1.5em;
}

#title h1 {
  font-weight: 200;
  font-size: 5em;
  text-shadow: 1px 1px 1px black;
}

#title h2 {
  font-weight: 300;
  font-style: italic;
  font-size: 1.5em;
}

.background-image-container {
  position: absolute;
  transition: background-image 5s;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#title .attribution {
  position: absolute;
  bottom: 1em;
  right: 1em;
  font-size: .8em;
  z-index: 11;
  font-style: italic;
  font-weight: 200;
  opacity: .7;
}

/*--------------Jisort Section----------------------*/
#jisort {
  background: url('../images/jisort.png');
  background-size: auto 150%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
}

#jisort::before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: ' ';
  background: rgba(0,0,0, 0.6);
  z-index: 0;
}

#jisort .content {
  z-index: 1;
  position: relative;
}

#jisort img {
  margin-top: 1em;
  max-width: 600px;
  width: 100%;
}

#jisort a.button:hover {
  color: black;
  background: white;
}

/*--------------Curriculum Section----------------------*/
#curriculum {
  background: #576d8d;
}

#curriculum a.button:hover {
  color: #576d8d;
  background: white;
}


/*--------------DSO Description Section----------------------*/
#dso-description {
  background: #f18c8c;
}

#dso-description .place {
  font-style: italic;
}

#dso-description a.button:hover {
  color: #f18c8c;
  background: white;
}

#par-diagram > div {
  padding: .25em;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

#par-diagram > div > div {
  padding: .5em;
  box-sizing: border-box;
}

#par-diagram .name,
#par-diagram .description {
  transition: background 0.15s;
}

#par-diagram .name {
  width: 150px;
  display: inline-block;
  position: absolute;
}

#par-diagram .description {
  margin-left: 150px;
  right: 0;
}

#par-diagram > div:hover .name {
  font-weight: bold;
  font-style: italic;
  background: #9ab49a;
}

#par-diagram > div:hover .description {
  background: #576d8d;
  font-style: italic;
}

/*--------------Progress Section----------------------*/
#progress {
  background: #f18c8c;
}

#progress a.button:hover {
  color: #f18c8c;
  background: white;
}

#progress-diagram {
  width: 100%;
}

#progress-diagram .row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

#progress-diagram .row:nth-of-type(1) .container {
  padding: 0;
  margin: 0;
}

#progress-diagram .row:nth-of-type(1) .container h3 {
  margin-bottom: 0;
}

#progress-diagram .container {
  position: relative;
}

#progress-diagram .container.treatment,
#progress-diagram .container.control {
  width: 30%;
  z-index: 1;
}

#progress-diagram .container.descriptions {
  z-index: 0;
}

#progress-diagram .container {
  box-sizing: border-box;
  padding: .5em;
  padding-left: 0;
}

#progress-diagram .segment {
  width: 100%;
  height: 50px;
  border: 1px dashed white;
  box-sizing: border-box;
  margin: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color .15s, color .15s;
  text-transform: uppercase;
  text-decoration: none;
}

#progress-diagram .segment.workshop {
  background: #576d8d;
  border-style: solid;
  cursor: pointer;
}

#progress-diagram .segment.marker {
  height: 25px;
  border: 0;
  font-style: italic;
  text-transform: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

#progress-diagram .segment.marker::before,
#progress-diagram .segment.marker::after {
  content: ' ';
  display: block;
  background: white;
  height: 1px;
  flex-grow: 2;
  box-sizing: border-box;
  margin: 0 3px;
}

#progress-diagram .segment.interview {
  background: #f18c8c;
  border-style: solid;
  cursor: pointer;
}

#progress-diagram .segment.software {
  background: #9ab49a;
  border-style: solid;
  cursor: pointer;
}

#progress-diagram .segment.workshop:hover {
  background: white;
  color: #576d8d;
}

#progress-diagram .segment.interview:hover {
  background: white;
  color: #f18c8c;
}

#progress-diagram .segment.software:hover {
  background: white;
  color: #9ab49a;
}

#progress-diagram .descriptions .segment {
  position: relative;
  visibility: hidden;
  opacity: 0;
  left: -30%;
  transition: visibility .15s,  left .15s, opacity .15s;
  border: 0;
  text-align: left;
  justify-content: flex-start;
  font-style: italic;
  text-transform: none;
  padding-left: 1em;
}

#progress-diagram .descriptions .segment.show {
  visibility: visible;
  opacity: 1;
  left: 0;
}

/*--------------Previous Research Section----------------------*/
#previous-research-section {
  background: #9ab49a;
}

#previous-research-section a.button:hover {
  color: #9ab49a;
  background: white;
}

/*--------------News Section----------------------*/
#news-section a.button:hover, #news-section a.read-more:hover {
  color: #576d8d;
  background: white;
}

#news-section .item {
  margin-bottom: 3em;
}

#news-section .description {
  margin-bottom: 1em;
}

/*--------------Teams Section----------------------*/

#teams-section .community ul {
  width: 250px;
}

/*--------------Documentation Section----------------------*/

#documentation {
  background: #f18c8c;
}

#documentation li {
  width: 100%;
}

#documentation .research-questions ul {
  list-style: initial;
  padding-left: 2em;
}

/*--------------Footer Section----------------------*/
#footer {
  background: #4d4d4d;
  color: white;
  padding: 2em 0;
  text-align: center;
}

#footer a {
  font-weight: bold;
  cursor: pointer;
}

/*------------------Laptops&larger screens---------------------------*/

@media (min-width: 979px) {
  section .content {
    width: 900px;
  }
}

/*------------------Tablets--------------------------*/

@media (max-width: 767px) {
  section .content {
    width: 700px;
  }
}

/*-------------------small tablet---------------------------*/

@media (min-width: 479px) and (max-width: 767px) {
  #title .flex-container {
    padding: 0 40px;
    width: initial;
  }

  #title h1 {
    font-size: 3em;
  }

  #title h2 {
    font-size: 1.1em;
  }

  section .content {
    width: 400px;
  }
  section .half {
    width: 100%;
  }
}

/*----------------SmartPhones----------------------*/

/*------------Navigation-------------------*/

@media (max-width: 479px) {
  #title .flex-container {
    padding: 0 20px;
    width: initial;
  }

  #title h1 {
    font-size: 3em;
  }

  #title h2 {
    font-size: 1.1em;
  }

  section .content {
    width: 300px;
  }
  section .half {
    width: 100%;
  }

  #progress-diagram .container {
    padding: 0.1em;
  }

  #progress-diagram .segment {
    font-size: .75em;
    text-transform: none;
    padding: 0.1em;
  }

  #progress-diagram .descriptions .segment {
    visibility: visible;
    opacity: 1;
    position: static;
    transition: none;
  }

  #progress-diagram .segment.marker::before,
  #progress-diagram .segment.marker::after {
    display: none;
  }

  #jisort img {
    display: none;
  }

  #par-diagram .name {
    font-weight: bold;
    font-style: italic;
  }

  #par-diagram .name, #par-diagram .description {
    display: block;
    margin: 0;
    position: static;
    background: transparent !important;
  }
}

/*----------------------Smallphones------------------------*/

@media (max-width: 290px) {
  #title .flex-container {
    padding: 0 20px;
    width: initial;
  }

  #title h1 {
    font-size: 3em;
  }

  #title h2 {
    font-size: 1.1em;
  }

  section .content {
    width: 250px;
  }
  section .half {
    width: 100%;
  }
}